<header>
	<div><%= link_to "Home", items_path %></div>
</header>
<h1> Item </h1>

<p>
	<%= @item.name %>
</p>

<p>
	<%= @item.description %>
</p>

<p>
	<%= image_tag @item.itempic_url() if @item.itempic? %>
</p>
